[MESSAGES CONTROL]
disable =
    E0401, # unable to import becaue pylint runs in a minimal env
    C0301, # line too long is managed by black
    C0103, # variable, method and class naming style enforcement
    C0116, # some methods are just too simple to deserve a docstring
    R0902, # too many instance attributes
    R0903, # too few public methods
    R0913, # too many arguments
    R0914, # too many local variables
    R1711, # useless return is okay
    R1705, # unnecessary return is okay
    W0212, # protected member access is okay
    W0511, # fixmes okay
    W0622, # redefine built-in is okay
    W0621, # redefine variables from global is okay
    R0801, # code repetition is okay because it is used in examples
